 <footer class="text-black   p-6">
        <div class="container mx-auto px-6 grid grid-cols-1 md:grid-cols-4 gap-12">
            <div>
                <div class="flex items-center gap-2 mb-4">
                    <div class="bg-blue-500 w-12 h-12 flex items-center justify-center  rounded-full text-white">
                       <i class="fa-solid fa-hammer"></i>
                    </div>
                    <span class="font-bold text-lg text-blue-600">FixIt</span>
                </div>
                <p class="text-gray-500 text-sm leading-relaxed">المنصة الرائدة في المنطقة لربط العملاء بأفضل الفنيين والصنايعية في أسرع وقت وأقل جهد.</p>
            </div>
            <div>
                <h5 class="font-bold mb-4">الخدمات الشائعة</h5>
                <ul class="text-gray-500 space-y-2 text-sm">
                    <li>سباكة وتسريبات</li>
                    <li>أعمال الكهرباء</li>
                    <li>نجارة وأثاث</li>
                    <li>دهانات وديكور</li>
                </ul>
            </div>
            <div>
                <h5 class="font-bold mb-4">روابط سريعة</h5>
                <ul class="text-gray-500 space-y-2 text-sm">
                    <li>عن المنصة</li>
                    <li>كيف نضمن جودة العمل</li>
                    <li>تواصل معنا</li>
                    <li>الأسئلة الشائعة</li>
                </ul>
            </div>
            <div>
                <h5 class="font-bold mb-4">النشرة البريدية</h5>
                <div class="flex">
                    <input type="email" placeholder="بريدك الإلكتروني" class="bg-gray-100 px-4 py-2 rounded-lg w-full outline-none">
                    <button class="bg-blue-500 text-white px-4 py-2 rounded-l-lg hover:bg-blue-600 transition">اشترك</button>
                </div>
                <div class="flex gap-4 mt-6">
                    <i data-lucide="facebook" class="text-gray-400 cursor-pointer hover:text-blue-500"></i>
                    <i data-lucide="twitter" class="text-gray-400 cursor-pointer hover:text-blue-400"></i>
                    <i data-lucide="instagram" class="text-gray-400 cursor-pointer hover:text-pink-500"></i>
                </div>
            </div>
        </div>
        <div class="border-t mt-12 pt-6 text-center text-gray-400 text-xs">
            <p>© 2026 الصنايعية. جميع الحقوق محفوظة. شركة رجالة علوم.</p>
        </div>
    </footer>
